
.space {
  float: left;
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: #EEEEEE;
  text-align: center;
  font-size: 85px;
}
.space:nth-child(4) {
  clear: left;
}
.space:nth-child(7) {
  clear: left;
}
